/* /* основний чорний колір тексту #212121 /* */
/* /* другорядний сірий колір тексту #757575/* */
/* /*  синій акцент #2196F3 /* */

/* /*  білий колір фона #FFFFFF /* */
/* другорядний колір фона #F5F4FA */
:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
.page {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: #757575;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
h1,
h2,
h3,
h4,
p,
ul {
  margin-bottom: 0;
  margin-top: 0;
}
img {
  display: block;
  max-width: 100%;
}

.page-header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ececec;
}
.main-nav {
  display: flex;
  align-items: center;
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* logo */
.logo {
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-decoration: none;
}
.logo-title {
  color: var(--primary-text-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* site nav */
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav a {
  color: var(--primary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-decoration: none;

  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  position: relative;

  transition: color 250ms var(--primary-cubic);
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}
.link.current {
  color: var(--accent-color);
}
.link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.contakt {
  display: flex;
  margin-left: auto;
}
.contakt .item + .item {
  margin-left: 50px;
}

.contakt a {
  display: flex;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-decoration: none;
  align-items: center;

  transition: color 250ms var(--primary-cubic);
}
.contakt a:hover,
.contakt a:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2f303a;
}
.hero-title {
  width: 696px;
  padding-top: 200px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
/* button */
.button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  cursor: pointer;
  border-radius: 4px;
}
.button.primary {
  display: inline-block;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border: 0;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--primary-cubic);
}
.button.primary:hover {
  background-color: #188ce8;
}
.button.secondary {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  border: 1px solid transparent;
  margin-bottom: 0;
  transition: background-color 250ms var(--primary-cubic);
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* section */
.section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 50px;
}
/* ocoбености */
.section-none {
  display: none;
}
.section.peculiarity {
  padding-top: 94px;
  padding-bottom: 94px;
}
.peculiarity {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}
.peculiarity .item {
  margin-right: 30px;
  flex-basis: calc(100% / 4 - 30px);
}
.peculiarity .item:nth-child(4) {
  margin-right: 0;
}
.peculiarity .title {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.peculiarity-thumb {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.title-text {
  color: var(--title-text-color);
  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  /* width: 270px;
  height: 75px; */
}
/* чем ми занимаемся */
.section.what {
  padding-bottom: 94px;
}
.what-img {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 3 - 30px);
}
.what-img li + li {
  margin-left: 30px;
}
.what-img .thumb {
  position: relative;
}

.what-img .thumb .text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
/* команда */
.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: #212121;
  margin-bottom: 10px;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-text-color);
}
.name {
  padding-top: 30px;
  padding-bottom: 16px;
}
.commands {
  background-color: #f5f4fa;
  padding-top: 95px;
  padding-bottom: 95px;
}
.command {
  display: flex;
  margin-right: -30px;
}
.command .item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
  flex-wrap: wrap;
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
  text-align: center;
}
.social-list {
  display: inline-flex;
  margin-bottom: 30px;
}
.social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  fill: #afb1b8;

  transition: fill 250ms var(--primary-cubic),
    background-color 250ms var(--primary-cubic);
}
.social-item {
  margin-right: 10px;
}
.social-item:last-child {
  margin-right: 0;
}

.command .social-link:hover,
.command .social-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}
/* Clients */
.clients {
  padding: 94px 0px;
  background-color: var(--primary-white-color);
}
.clients-list {
  display: flex;
}

.clients-item {
  margin-right: 30px;
}

.clients-item:last-child {
  margin-right: 0;
}

.clients-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: border-color 250ms var(--primary-cubic),
    fill 250ms var(--primary-cubic);
}
.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* футер */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer .logo-title {
  color: var(--primary-white-color);
}
.address a {
  display: inline-block;
  text-decoration: none;
}

.address .coords {
  color: var(--primary-white-color);
  font-style: normal;
  line-height: 1.71;
  transition: color 250ms var(--primary-cubic);
}

.address .contact {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;
  transition: color 250ms var(--primary-cubic);
}
.address .contact:hover,
.address .contact:focus {
  color: var(--accent-color);
}
.add {
  margin-bottom: 9px;
}
.mail {
  margin-bottom: 9px;
}
.footer .container {
  display: flex;
  align-items: baseline;
}

.address-block {
  margin-right: 70px;
}
/* .join */
.join {
  margin-right: auto;
}
.join .title {
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-white-color);
  font-size: 14px;
}
.join .social-link {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--primary-white-color);
  transition: background-color 250ms var(--primary-cubic);
}
.join .social-link:hover,
.join .social-link:focus {
  background-color: var(--accent-color);
}

/* .subscribe {
} */

.subscripe-title {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-white-color);
  font-size: 14px;

  margin-bottom: 20px;
}

.subscripe-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;

  font-size: 16px;
  line-height: 1.25;

  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);

  transition: border-color 250ms var(--primary-cubic);
}

.form-field:focus-within .subscripe-input {
  outline: none;
  border-color: var(--accent-color);
}

.subscripe-input::placeholder {
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
}

.subscripe-button {
  min-width: 200px;
  height: 50px;
  font-weight: 700;

  line-height: 1.875;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  transition: background-color 250ms var(--primary-cubic);
}

.subscripe-button:hover,
.subscripe-button:focus {
  background-color: #188ce8;
}

.subscripe-button::after {
  content: "";
  margin-left: 10px;
  fill: currentColor;
  width: 24px;
  height: 24px;
  background-image: url(../images/icon-send.svg);
}

/* portfolio */
/* button filter */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-right: 8px;
}

/* групи портфоліо */
.images-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}
.image-indent {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}
.section.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.flex-conteiner {
  display: flex;
  flex-wrap: wrap;
  margin: -15px -15px;
}
.flex-element {
  transition: box-shadow 250ms var(--primary-cubic);

  flex-basis: calc((100% - 90px) / 3);
  margin: 15px 15px;
}

.description {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.flex-conteiner .link {
  display: block;
  color: #757575;
  text-decoration: none;
}

.flex-conteiner .flex-element:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.flex-conteiner .thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-description {
  position: absolute;
  transform: translateY(100%);
  /* opacity: 0; */
  pointer-events: none;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  padding: 63px 24px;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 1.38;
  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);
}
.flex-conteiner .link:hover .portfolio-description,
.flex-conteiner .link:focus .portfolio-description {
  /* opacity: 1; */
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms var(--primary-cubic);
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--primary-cubic);

  min-width: 528px;
  min-height: 581px;

  padding: 40px 39px 40px 41px;

  background-color: var(--primary-white-color);
}

.modal .close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: var(--primary-white-color);

  transition: fill 250ms var(--primary-cubic);
}

.modal .close:hover {
  fill: var(--accent-color);
}
.close-icon {
  text-align: center;
}

.modal-title {
  display: inline-block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  /* text-align: center; */
  color: var(--primary-text-color);
}

.feedback-thumb {
  position: relative;
}

.feedback-thumb:not(:last-child) {
  margin-bottom: 10px;
}

.feedback-title {
  position: relative;
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}

.feedback-input {
  width: 100%;
  height: 40px;

  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms var(--primary-cubic);
}

.feedback-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.feedback-icon {
  position: absolute;
  top: 29px;
  left: 12px;

  transition: fill 250ms var(--primary-cubic);
}

.feedback-input:focus ~ .feedback-icon {
  fill: var(--accent-color);
}

.input-comment {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  overflow: hidden;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;

  resize: none;

  transition: border-color 250ms var(--primary-cubic);
}

.input-comment::placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.input-comment:focus {
  outline: none;
  border-color: var(--accent-color);
}

.feedback-thumb.comments {
  margin-bottom: 20px;
}

.agreement {
  margin-bottom: 30px;
  margin-left: 40px;
}

.agreement-title {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.icon {
  position: absolute;
  top: 3px;
  left: 0;
  margin-left: -25px;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 7px;

  transition: all 250ms var(--primary-cubic);
}

.checkbox:focus + .icon {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.checkbox:checked + .icon {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  border-color: var(--accent-color);
}

.agreement-title {
  line-height: 1.714;
}

.agreement-link {
  color: var(--accent-color);
  margin-left: 4px;

  transition: color 250ms var(--primary-cubic);
}

.agreement-link:hover,
.agreement-link:focus {
  color: var(--hero-button-hover);
}

/* .agreement-chek {
} */

.modal-submit-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;

  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;

  transition: background-color 250ms var(--primary-cubic);
}

.modal-submit-button:hover,
.modal-submit-button:focus {
  background-color: #188ce8;
}
